@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-Azonix;
  color: rgb(var(--foreground-rgb));
}

.dark {
  background-color: #151419; /* Dark background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer {
  @font-face {
    font-family: "Azonix";
    src: url("/assets/font/Azonix.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}

/* components/TabMenu.module.css */
.tabHeaders {
  display: flex;
  justify-content: center;
}

.tabHeader {
  text-transform: uppercase;
  padding: 1rem;
  border-bottom: 2px solid transparent;
  border-radius: 0.5rem 0.5rem 0 0;
  transition: border-bottom 0.3s ease;
}

.tabHeaderActive {
  border-bottom: 2px solid #1a202c; /* Customize this color as needed */
}

.tabContent {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.tabContentActive {
  opacity: 1;
  max-height: 1000px; /* Arbitrary large value to ensure content is fully visible */
}
